[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "Menlo-for-Powerline"]
	path = Menlo-for-Powerline
	url = https://github.com/abertsch/Menlo-for-Powerline
[submodule "libphutil"]
	path = libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "arcanist"]
	path = arcanist
	url = https://github.com/phacility/arcanist.git
